/* Style pour le tableau */
table {
    width: 100%;                 
    
    border-collapse: collapse;    
 
}

/* Style pour les cellules d'en-tête (th) et les cellules de données (td) */
th, td {
    padding: 8px;                 
   
    text-align: left;             
    
}

/* Style pour les lignes du tableau */
tr {
    border-top: 1px solid #ddd;  
    
}

/* Style de base pour les indicateurs de statut */
span.status {
    padding: 5px 10px;            
    
    color: white;                 
    
    border-radius: 3px;           
    
}

/* Style pour le statut "disponible" */
span.disponible {
    background-color: green;      
    
}

/* Style pour le statut "réservée" */
span.reservee {
    background-color: red;        
    
}